<h2>Search for a recipe on AllRecipes</h2>
<form action="/search_results" method='post'>
  <label for="ingredient">Ingredient:</label><br>
  <input type="text" id="ingredient" name="ingredient" required><br>
  <input type="submit" value="Search!">
</form>
